/*login and loading page styles start*/
.loginForm{

    /*-fx-background-color: #E9AF86;*/
    -fx-background-color: #7B3927;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-radius: 10px;

}
.signUpFrmae{
    -fx-background-color: #dfa47e;
}

.loginName{
    -fx-text-fill:#A85A26;
}

.userNameField{
    -fx-background-color: transparent;
     -fx-text-fill: #dfa47e;
//-fx-border-color: #2D033B;
    -fx-border-color:#dfa47e;
    -fx-border-width: 0 0 2 0;
    /*-fx-prompt-text-fill:#dfa47e ;*/
     -fx-font-size: 15px;
    /*-fx-font-weight: bold;*/
    -fx-font-family: 'Helvetica', Arial, sans-serif;

}


.LoginButton{
//-fx-background-color: linear-gradient(to top right  , #1C82AD, #86E5FF);
    -fx-background-color:#dfa47e ;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 0);
    -fx-background-radius: 10px;
    -fx-text-fill: #7B3927;

}

.combo-box-base {
    -fx-background-color: #dfa47e;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-text-fill: #7B3927;

}

.combo-box.cell{
    -fx-font-weight: bold;



}

.combo-box .list-view .list-cell{
    -fx-text-fill: #7B3927;
    -fx-background-color:#dfa47e;
    -fx-font-weight: bold;
}

.combo-box .cell:selected {
    -fx-text-fill: #7B3927;

}

.progress-bar > .track {
    -fx-background-color: transparent;
}

.forgotPassword{

    /*-fx-background-color: #E9AF86;*/
    -fx-background-color: #7B3927;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);


}

/*end*/

/*Start DashBoaed*/

.dashbordForm{

    /*-fx-background-color: #E9AF86;*/
    -fx-background-color: #7B3927;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);


}
.dontHaveAnAcoount {
-fx-background-color: transparent;
-fx-text-fill:#7B3927 ;
}

.dashbordBtns{
//-fx-background-color: linear-gradient(to top right  , #1C82AD, #86E5FF);*/*/
    /*-fx-background-color:#dfa47e ;*/
    -fx-background-color: linear-gradient(to top left  ,#7B3927 ,#dfa47e);
    /*-fx-background-color: linear-gradient(from 0px 0px to 4px 30px, repeat, #dfa47e 60%, #7B3927  40%);*/

     -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 8, 0, 0, 0);
    -fx-background-radius: 10px;
    -fx-text-fill: #7B3927;
    -fx-font-weight: bold;

}


.timeLbl{
    /*-fx-background-color:#dfa47e;*/
    /*-fx-background-radius: 10px;*/

    -fx-font-weight: bold;
    -fx-font-size: 20px;



}

.atLbl {

    -fx-font-weight: bold;
    -fx-font-size: 20px;
}


.sampl{
-fx-background-radius: 30px
}

.dashBoardTextField{
    -fx-background-color: transparent;
    -fx-text-fill: #7B3927;
//-fx-border-color: #2D033B;
    -fx-border-color:#7B3927;
    -fx-border-width: 0 0 3 0;
    /*-fx-prompt-text-fill:#dfa47e ;*/
    -fx-font-size: 15px;
    /*-fx-font-weight: bold;*/
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    /*-fx-border-radius: 10px;*/

}

.dashBoardLabels{
    -fx-font-weight: bold;

}

.table-view .column-header {
    -fx-background-color:#7B3927 ;
    -fx-text-fill: #7B3927;
}
.table-view .table-cell{
    -fx-background-color: #dfa47e;
    -fx-text-fill: #7B3927;
}


.table-row-cell{
    -fx-border-color: #7B3927;
    -fx-table-cell-border-color:#7B3927;
    -fx-font-weight: bolder;
}
.table-view .column-header .label {
    -fx-text-fill: #dfa47e;
    -fx-font-weight: bolder;
}
.buttons:hover{
    -fx-background-color: #dfa47e ;
    -fx-text-fill: #dfa47e;
    -fx-font-weight: bold;
}
/*.table-row-cell:selected {*/
/*    -fx-background-color: #7B3927;*/
/*}*/

.DashBoardcombo-box-base {
    -fx-background-color: #7B3927;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-text-fill: #7B3927;

}

.DashBoardcombo-box.cell{
    -fx-font-weight: bold;

}

.DashBoardcombo-box .list-view .list-cell{
    -fx-text-fill: #7B3927;
    -fx-background-color:#dfa47e;
    -fx-font-weight: bold;
}

.DashBoardcombo-box .cell:selected {
    -fx-text-fill: #7B3927;

}





